version: "3.7"
services:
  ui:
    build: ui
    restart: always
    ports:
      - 8080:80
    depends_on: 
      - api
  api:
    build: api
    restart: always
    links:
      - db:db
    ports:
      - 5000:5000
    depends_on: 
      - db
    environment:
      - ASPNETCORE_URLS=http://+:5000
  db:
    build: db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Password44 -Q 'SELECT 1' || exit 1"]
      interval: 10s
      retries: 10
      start_period: 10s
      timeout: 3s
    ports:
      - 1411:1433
    volumes:
      - msdata:/var/opt/mssql
volumes:
  msdata: